@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
    color: #faf7f7;
    background-color: #cdcdcd;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #fbfafacc,#be0709, #7e0a0c),
    url(bg.jpg);
}
*{
    padding: 0;
    margin: 0;
}
header{
    width: min(1200px, 90vw);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 0px;
    flex-wrap: wrap;
}
header h1{
    font-family: "Karantina", system-ui;
    font-size: 16vw;
    line-height: 0.8em;
}
header .author{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header h3{
    font-family: "Karantina", system-ui;
    font-size: 5vw;
}
header .author div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .author div p:nth-child(2){
    font-weight: 500;
}

header .author img{
    width: 250px;
}
.banner{
    margin-top: -50px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.product{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    z-index: 2;
    width: 500px;
    transition: 0.7s;
}
.product .soda{
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
}
.soda{
    --left: 0px;
    background: 
        var(--url) var(--left),
        url(mockup.png) 0 0;
    background-size: auto 100%;
    width: 260px;
    aspect-ratio: 2 / 3.74;
    background-blend-mode: multiply;
    transition: 0.8s;
    mask-image: url(mockup.png);
    mask-size: auto 100%;
}
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 250px;
}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 500px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 500px;
}

.rock{
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    pointer-events: none;
}
.rock img:nth-child(1){
    position: absolute;
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: 0.7s;
    z-index: 1;
}
.rock img:nth-child(2){
    position: absolute;
    height: 50%;
    left: 0;
    bottom: 0;
    transition: 0.7s;
}
.rock img:nth-child(3){
    position: absolute;
    height: 100%;
    right: 0;
    bottom: -200px;
    rotate: -25deg;
    transition: 0.7s;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px);
}
@media screen and (max-width: 1023px) {
    
    .soda{
        width: 400px;
    }
}
@media screen and (max-width: 767px) {
    .soda{
        width: 250px;
    }
    header img{
        display: none;
    }
    header .author{
        width: 100%;
    }

}
.section-2{
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #6a6868, #f70202cc),
    url(bg.jpg);
}
.section-3{
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #0a0a0aff, #f40808cc),
    url(bg.jpg);
}
.section-4{
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #faf8f8c3, #2ff203cc),
    url(bg.jpg);
}
.section-5{
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #faf5f5cc, #fb7c06cc),
    url(bg.jpg);
}
.section-1 .section-2 .section-3 .section-4 .section-5{
    position:sticky;
    scroll-behavior: smooth;
}
.section-1 .banner {
    background-image: url(bg1.jpg);
}

.section-2 .banner {
    background-image: url(bg2.jpg);
}

.section-3 .banner {
    background-image: url(bg3.jpg);
}

.section-4 .banner {
    background-image: url(bg4.jpg);
}

.section-5 .banner {
    background-image: url(bg5.jpg);
}
